name: Run Colab

on:
  push:
    branches:
      - main

jobs:
  run-colab:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v2

      - name: Set Up Python
        uses: actions/setup-python@v2
        with:
          python-version: 3.8  # Python s端r端m端n端 belirtin

      - name: Install Dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: Run Colab Notebook
        run: |
          jupyter nbconvert --to notebook --execute notebook/KungFuMaster.ipynb
